@font-face {
  font-family: roslindale;
  src: url(fonts/roslindale.woff);
}

@font-face {
  font-family: apercupro;
  src: url(fonts/apercupro.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  background-color: white;
  width: 100%;
}

ul {
  display: none;
  list-style-type: none;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
}

.navbar-logo a {
  font-size: 1.5rem;
  color: white;
  font-family: "roslindale";
}

.navbar-sc {
  display: none;
}
.navbar-sc-text {
  background-color: #d2a070;
  color: white;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-family: "apercupro";
}
.navbar-sc-number {
  z-index: 1;
  font-size: 1rem;
  top: -17%;
  right: -2%;
  position: absolute;
}
.navbar-sc-circle {
  height: 1rem;
  right: -5%;
  top: -20%;
  position: absolute;
}
.navbar-nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "apercupro";
  padding-bottom: 2rem;
}

.navbar-nav a:not(:last-child) {
  margin-bottom: 1rem;
}

.navbar-nav a {
  color: white;
}

.navbar-min {
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-close {
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}

#section1 {
  background-color: white;
  position: relative;
  height: auto;
  margin-bottom: 1rem;
}
.pict1section1 {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.textsection1container {
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textsection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text1section1 {
  color: white;
  font-family: "roslindale";
  font-size: 1.55rem;
  text-transform: uppercase;
}

.text2section1 {
  color: white;
  font-family: "apercupro";
  font-size: 0.5rem;
  text-align: left;
  width: 100%;
}

#section2 {
  background-color: white;
  height: auto;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.textsection2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.text1section2 {
  color: black;
  font-family: "roslindale";
  font-size: 1.2rem;
  text-transform: uppercase;
}

.text2section2 {
  color: black;
  text-align: left;
  font-family: "apercupro";
  display: block;
  font-size: 0.79rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.flex1section2 {
  display: flex;
  flex-direction: column;
}

.flexpict-23 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pict1section2 {
  margin-bottom: 0.5rem;
}

.pict2section2 {
  width: 49%;
}

.pict3section2 {
  width: 49%;
}

#section3 {
  background-color: white;
  position: relative;
  height: auto;
  margin-bottom: 1rem;
}

.pict1section3 {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: contain;
}

#section4 {
  background-color: white;
  height: auto;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.text1section4 {
  color: black;
  display: flex;
  justify-content: right;
  font-family: "roslindale";
  text-transform: uppercase;
  font-size: 1rem;
  text-align: right;
  margin-bottom: 1rem;
}

.flex1section4 {
  display: flex;
  flex-direction: column;
}

.pict1section4 {
  order: 1;
}

.blocktextsection4 {
  display: flex;
  flex-direction: column;
  order: 2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.text2section4 {
  color: black;
  font-family: "roslindale";
  font-size: 1.19rem;
  text-transform: uppercase;
  text-align: center;
}
.text3section4 {
  color: black;
  text-align: left;
  font-family: "apercupro";
  display: block;
  font-size: 0.7rem;
  margin-top: 0.5rem;
}

.pict2section4 {
  order: 3;
}

.flex2section4 {
  display: flex;
  flex-direction: column;
}
.pict3section4,
.pict4section4,
.pict5section4 {
  margin-top: 0.5rem;
}

#section5 {
  background-color: white;
  height: auto;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.flex1section5 {
  display: flex;
  flex-direction: column;
}

.text1section5 {
  color: black;
  font-family: "roslindale";
  text-transform: uppercase;
  font-size: 1.56rem;
  text-align: center;
}

.text2section5 {
  color: black;
  text-align: left;
  font-family: "apercupro";
  font-size: 0.79rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.pict1section5 {
  margin-bottom: 0.5rem;
}

.pict2section5 {
  margin-bottom: 1rem;
}

.flex2section5 {
  display: flex;
  flex-direction: column;
}

.blocktextsection5 {
  display: flex;
  flex-direction: column;
}
.text3section5 {
  color: black;
  font-family: "roslindale";
  font-size: 1.6rem;
  text-transform: uppercase;
}

.text4section5 {
  color: black;
  text-align: left;
  font-family: "apercupro";
  font-size: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.pict3section5 {
  margin-bottom: 0.5rem;
}

#section6 {
  background-color: white;
  height: auto;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.flextextsection6 {
  display: flex;
  flex-direction: column;
}

.text1section6 {
  color: black;
  font-family: "roslindale";
  text-transform: uppercase;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.flex1section6,
.flex2section6,
.flex3section6 {
  display: flex;
  flex-direction: column;
}

.pict2section6,
.pict3section6,
.pict4section6,
.pict5section6,
.pict6section6,
.pict7section6,
.pict8section6,
.pict9section6,
.pict10section6 {
  margin-top: 0.5rem;
}

#section7 {
  background-color: white;
  height: auto;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.flexsection7 {
  display: flex;
  flex-direction: column;
}
.inline1section7,
.inline2section7,
.inline3section7 {
  text-align: center;
}

.inline1section7 h1,
.inline2section7 h1,
.inline3section7 h1 {
  color: black;
  font-size: 1.2rem;
  font-family: "roslindale";
  text-transform: uppercase;
  margin-left: -0.4rem;
  display: inline;
}

.pict1section7,
.pict2section7,
.pict3section7 {
  display: none;
}

.visit-button-container {
  margin-top: 0.5rem;
  text-align: center;
}

.visit-button {
  background-color: #d2a070;
  color: white;
  padding: 0.5rem 0.5rem;
  font-size: 0.6rem;
  font-family: "apercupro";
  text-align: center;
}

#section8 {
  background-color: white;
  position: relative;
  height: auto;
}
.map {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer {
  background-color: #151515;
  height: auto;
  padding: 1rem 1rem;
}

.flexfooter {
  display: flex;
  flex-direction: column;
}
.flexfooter1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0;
  margin-bottom: 1rem;
  height: auto;
}

.flex1footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex1footer a {
  font-family: "roslindale";
  color: white;
  font-size: 1rem;
}

.flex1footer p {
  font-family: "apercupro";
  color: #7c7c7c;
  font-size: 0.5rem;
}

.flex2footer {
  display: flex;
  flex-direction: column;
}

.flex2footer a {
  font-family: "apercupro";
  color: white;
  font-size: 0.5rem;
}

.flex2footer a:not(:first-child),
.flex3footer a:not(:first-child) {
  margin-top: 0.4rem;
}
.flex3footer {
  display: flex;
  flex-direction: column;
}

.flex3footer a {
  font-family: "apercupro";
  font-size: 0.5rem;
  color: #7c7c7c;
}
.flex4footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex4footer p {
  font-size: 0.5rem;
}

.text2footer {
  font-family: "apercupro";
  color: #7c7c7c;
  text-align: right;
}

.footer-sc {
  display: flex;
}

.footer-sc-text {
  background-color: #d2a070;
  color: white;
  padding: 0.3rem 0.7rem;
  font-size: 0.5rem;
  font-family: "apercupro";
  position: absolute;
  right: 16px;
}

.footer-sc-number {
  color: black;
  z-index: 1;
  font-size: 0.75rem;
  top: -47%;
  left: 73px;
  position: relative;
}
.footer-sc-circle {
  position: relative;
  right: -180%;
  top: -35%;
}

.flexfooter2 {
  width: 100%;
  height: 50px;
  overflow: hidden;
}
.pict1footer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 475px) {
  .text1section1,
  .text3section5 {
    font-size: 2rem;
  }

  .text2section1,
  .visit-button,
  .flex1footer p,
  .flex2footer a,
  .flex3footer a,
  .flex4footer p,
  .footer-sc-text {
    font-size: 0.75rem;
  }

  .text1section2,
  .text2section4 {
    font-size: 1.6rem;
  }

  .text2section2 {
    font-size: 1rem;
  }

  .text1section4 {
    font-size: 1.3rem;
  }

  .text3section4,
  .text4section5 {
    font-size: 0.95rem;
  }

  .text1section5 {
    font-size: 2.1rem;
  }

  .text2section5 {
    font-size: 1.05rem;
  }

  .text1section6 {
    font-size: 1.5rem;
  }

  .inline1section7 h1,
  .inline2section7 h1,
  .inline3section7 h1 {
    font-size: 1.65rem;
  }

  .flex1footer a {
    font-size: 1.25rem;
  }

  .flex2footer a:not(:first-child),
  .flex3footer a:not(:first-child) {
    margin-top: 0.3rem;
  }

  .flex4footer {
    gap: 1.25rem;
  }

  .footer-sc-number {
    font-size: 1rem;
    left: 110px;
  }
  .footer-sc-circle {
    right: -88px;
    height: 0.9rem;
  }
}
@media (min-width: 640px) {
  .text1section1,
  .text3section5 {
    font-size: 2.8rem;
  }

  .text2section1,
  .visit-button,
  .flex1footer p,
  .flex2footer a,
  .flex3footer a,
  .flex4footer p,
  .footer-sc-text {
    font-size: 1rem;
  }

  .text1section2,
  .text2section4 {
    font-size: 2.2rem;
  }

  .text2section2 {
    font-size: 1.4rem;
  }

  .text1section4 {
    font-size: 1.6rem;
  }

  .text3section4,
  .text4section5 {
    font-size: 1.3rem;
  }

  .text1section5 {
    font-size: 2.9rem;
  }

  .text2section5 {
    font-size: 1.45rem;
  }

  .text1section6 {
    font-size: 2rem;
  }

  .inline1section7 h1,
  .inline2section7 h1,
  .inline3section7 h1 {
    font-size: 2.25rem;
  }

  .flex1footer a {
    font-size: 1.5rem;
  }

  .flex4footer {
    gap: 1.7rem;
  }

  .footer-sc-number {
    left: 150px;
  }
  .footer-sc-circle {
    right: -128px;
  }
}
@media (min-width: 768px) {
  .navbar-logo a {
    margin-right: 5rem;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    align-items: unset;
    background-color: unset;
    padding-bottom: unset;
    justify-content: center;
  }

  .navbar-nav a {
    margin-bottom: 0;
  }

  .navbar-nav a:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .navbar-sc {
    display: flex;
    align-items: center;
    margin-left: 5rem;
  }

  .navbar-sc-number {
    top: 7px;
    right: 11px;
  }

  .navbar-sc-circle {
    right: 7px;
    top: 7px;
  }

  .navbar-min {
    display: none;
  }

  .text1section1 {
    font-size: 3.4rem;
  }

  .textsection2 {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }

  .text1section2 {
    font-size: 1.3rem;
    margin-right: 2rem;
  }

  .text2section2 {
    font-size: 0.85rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  .flex1section2 img {
    max-width: 100%;
  }
  .flexpict-23 {
    justify-content: unset;
    margin-left: 0px;
    flex-grow: 1;
  }
  .pict1section2 {
    margin-bottom: 0rem;
  }

  .pict1section2 {
    width: calc((100% - 20px) / 3);
  }

  .pict2section2 img,
  .pict3section2 img {
    align-self: normal;
    margin-left: 0px;
  }

  .pict2section2,
  .pict3section2 {
    width: calc((100% - 20px) / 2);
    margin-left: 10px;
  }

  .text1section4 {
    font-size: 1.4rem;
  }
  .flex1section2,
  .flex1section4,
  .flex2section4,
  .flex1section5,
  .flex1section6,
  .flex2section6,
  .flex3section6 {
    flex-direction: row;
  }

  .pict1section4 {
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
  }

  .pict2section4 {
    order: 2;
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
  }

  .blocktextsection4 {
    order: 3;
    margin-top: 0rem;
    margin-bottom: 0rem;
    align-self: flex-end;
    width: calc((100% - 20px) / 3);
  }
  .text2section4 {
    font-size: 0.75rem;
    text-align: left;
  }
  .text3section4 {
    font-size: 0.5rem;
    margin-top: 0rem;
  }

  .pict3section4,
  .pict4section4,
  .pict5section4 {
    width: calc((100% - 20px) / 3);
  }
  .pict3section4,
  .pict4section4 {
    margin-right: 10px;
  }

  .text1section5 {
    font-size: 3.5rem;
  }

  .text2section5 {
    font-size: 0.57rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    order: 2;
  }

  .pict1section5 {
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
    order: 1;
  }

  .pict2section5 {
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    margin-left: 10px;
    order: 3;
  }

  .flex2section5 {
    flex-direction: row;
    margin-top: 0.5rem;
  }

  .blocktextsection5 {
    order: 3;
    width: calc((100% - 20px) / 3);
    align-self: flex-end;
  }
  .text3section5 {
    font-size: 1.3rem;
  }

  .text4section5 {
    font-size: 0.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .pict3section5 {
    margin-bottom: 0rem;
    margin-right: 10px;
    width: calc((100% - 20px) / 3);
  }
  .pict4section5 {
    margin-right: 10px;
    width: calc((100% - 20px) / 3);
  }

  .text1section6 {
    font-size: 1.45rem;
  }

  .flex1section6,
  .flex2section6 {
    margin-bottom: 0.5rem;
  }

  .flex1section6 img,
  .flex2section6 img {
    width: calc((100% - 20px) / 3);
  }

  .flex3section6 img {
    width: calc((100% - 30px) / 4);
  }

  .pict1section6,
  .pict2section6,
  .pict4section6,
  .pict5section6,
  .pict7section6,
  .pict8section6,
  .pict9section6 {
    margin-right: 10px;
  }

  .pict2section6,
  .pict3section6,
  .pict4section6,
  .pict5section6,
  .pict6section6,
  .pict7section6,
  .pict8section6,
  .pict9section6,
  .pict10section6 {
    margin-top: 0rem;
  }

  .inline1section7 h1,
  .inline2section7 h1,
  .inline3section7 h1 {
    font-size: 2.5rem;
    margin-left: 0rem;
  }

  .pict1section7,
  .pict2section7,
  .pict3section7 {
    display: inline;
    height: 1.9rem;
  }

  .visit-button-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #section8 {
    height: 50vh;
  }

  .flex1footer a {
    font-size: 1.5rem;
  }

  .flex1footer p,
  .flex3footer a,
  .flex4footer p,
  .flex2footer a,
  .footer-sc-text,
  .visit-button,
  .text2section1 {
    font-size: 1rem;
  }

  .flex2footer a:not(:first-child),
  .flex3footer a:not(:first-child) {
    margin-top: 0.3rem;
  }

  .text2footer {
    margin-top: 0.7rem;
  }

  .footer-sc-number {
    left: 150px;
  }
  .footer-sc-circle {
    right: -128px;
    height: 1rem;
  }

  .flexfooter2 {
    height: 85px;
  }
}
@media (min-width: 1024px) {
  .navbar-logo a {
    margin-right: 10rem;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .navbar-sc {
    display: flex;
    align-items: center;
    margin-left: 10rem;
  }

  .navbar-sc-number {
    top: 7px;
    right: 11px;
  }
  .navbar-sc-circle {
    right: 7px;
    top: 7px;
  }

  .navbar-min {
    display: none;
  }

  .text1section1 {
    font-size: 4.6rem;
  }

  .text2section1 {
    font-size: 1.4rem;
  }

  .textsection2 {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }

  .text1section2 {
    font-size: 1.85rem;
    margin-right: 2rem;
  }

  .text2section2 {
    font-size: 1.1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  .flex1section2,
  .flex1section4,
  .flex2section4,
  .flex1section5,
  .flex1section6,
  .flex2section6,
  .flex3section6 {
    flex-direction: row;
  }
  .flex1section2 img {
    max-width: 100%;
  }
  .flexpict-23 {
    justify-content: unset;
    margin-left: 0px;
    flex-grow: 1;
  }
  .pict1section2 {
    margin-bottom: 0rem;
  }

  .pict2section2 img,
  .pict3section2 img {
    align-self: normal;
    margin-left: 0px;
  }

  .pict2section2,
  .pict3section2 {
    width: calc((100% - 20px) / 2);
    margin-left: 10px;
  }

  .text1section4 {
    font-size: 1.9rem;
  }

  .pict1section4 {
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
  }

  .pict2section4 {
    order: 2;
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
  }

  .blocktextsection4 {
    order: 3;
    margin-top: 0rem;
    margin-bottom: 0rem;
    align-self: flex-end;
    width: calc((100% - 20px) / 3);
  }
  .text2section4 {
    font-size: 1rem;
    text-align: left;
  }
  .text3section4 {
    margin-top: 0rem;
  }

  .pict3section4,
  .pict4section4,
  .pict5section4,
  .pict1section2 {
    width: calc((100% - 20px) / 3);
  }

  .text1section5 {
    font-size: 4.7rem;
  }

  .text2section5 {
    font-size: 0.78rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    order: 2;
  }

  .pict1section5 {
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
    order: 1;
  }

  .pict2section5 {
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    margin-left: 10px;
    order: 3;
  }

  .flex2section5 {
    flex-direction: row;
    margin-top: 0.5rem;
  }

  .blocktextsection5 {
    order: 3;
    width: calc((100% - 20px) / 3);
    align-self: flex-end;
  }

  .text4section5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .pict3section5 {
    margin-bottom: 0rem;
    margin-right: 10px;
    width: calc((100% - 20px) / 3);
  }
  .pict4section5 {
    margin-right: 10px;
    width: calc((100% - 20px) / 3);
  }

  .text1section6 {
    font-size: 1.95rem;
  }

  .flex1section6,
  .flex2section6 {
    margin-bottom: 0.5rem;
  }

  .flex1section6 img,
  .flex2section6 img {
    width: calc((100% - 20px) / 3);
  }

  .flex3section6 img {
    width: calc((100% - 30px) / 4);
  }

  .pict1section6,
  .pict2section6,
  .pict4section6,
  .pict5section6,
  .pict7section6,
  .pict8section6,
  .pict9section6,
  .pict3section4,
  .pict4section4 {
    margin-right: 10px;
  }

  .pict2section6,
  .pict3section6,
  .pict4section6,
  .pict5section6,
  .pict6section6,
  .pict7section6,
  .pict8section6,
  .pict9section6,
  .pict10section6 {
    margin-top: 0rem;
  }

  .inline1section7 h1,
  .inline2section7 h1,
  .inline3section7 h1 {
    font-size: 3.5rem;
    margin-left: 0rem;
  }

  .pict1section7,
  .pict2section7,
  .pict3section7 {
    display: inline;
    height: 2.6rem;
  }

  .visit-button-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .visit-button {
    padding: 0.75rem 0.75rem;
    font-size: 1.3rem;
  }

  #section8 {
    height: 50vh;
  }

  .flex1footer a {
    font-size: 1.5rem;
  }

  .flex2footer a,
  .flex1footer p,
  .flex3footer a,
  .flex4footer p,
  .footer-sc-text {
    font-size: 1rem;
  }

  .flex2footer a:not(:first-child),
  .flex3footer a:not(:first-child) {
    margin-top: 0.3rem;
  }

  .text2footer {
    margin-top: 0.7rem;
  }

  .footer-sc-number {
    left: 150px;
  }

  .footer-sc-circle {
    right: -128px;
    height: 1rem;
  }

  .flexfooter2 {
    height: 85px;
  }
}
@media (min-width: 1280px) {
  .navbar-logo a {
    margin-right: 15rem;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .navbar-sc {
    display: flex;
    align-items: center;
    margin-left: 15rem;
  }

  .navbar-sc-number {
    top: 7px;
    right: 11px;
  }
  .navbar-sc-circle {
    right: 7px;
    top: 7px;
  }

  .navbar-min {
    display: none;
  }

  .text1section1 {
    font-size: 5.7rem;
  }

  .text2section1 {
    font-size: 1.4rem;
  }

  .textsection2 {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    margin: 5rem 0;
  }

  .text1section2 {
    font-size: 2rem;
    margin-right: 2rem;
  }

  .text2section2 {
    font-size: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  .flex1section2 img {
    max-width: 100%;
  }

  .flexpict-23 {
    justify-content: unset;
    margin-left: 0px;
    flex-grow: 1;
  }
  .pict1section2 {
    margin-bottom: 0rem;
  }

  .pict1section2 {
    width: calc((100% - 20px) / 2);
  }

  .pict2section2 img,
  .pict3section2 img {
    align-self: normal;
    margin-left: 0px;
  }

  .pict3section2 {
    align-self: flex-end;
    margin-left: 0px;
  }

  .pict2section2,
  .pict3section2 {
    width: calc((100% - 20px) / 2);
    height: 50%;
    margin-left: 10px;
  }

  .text1section4 {
    font-size: 2.38rem;
    margin: 5rem 0;
  }

  .pict1section4 {
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
  }

  .pict2section4 {
    order: 2;
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
  }

  .blocktextsection4 {
    order: 3;
    margin-top: 0rem;
    margin-bottom: 0rem;
    align-self: flex-end;
    width: calc((100% - 20px) / 3);
  }

  .text2section4 {
    font-size: 1rem;
    text-align: left;
  }

  .text3section4 {
    font-size: 0.85rem;
    margin-top: 0rem;
  }

  .flex2section4,
  .flex1section4,
  .flex1section2,
  .flex1section5,
  .flex1section6,
  .flex2section6,
  .flex3section6 {
    flex-direction: row;
  }

  .pict3section4,
  .pict4section4,
  .pict5section4 {
    width: calc((100% - 20px) / 3);
  }
  .pict3section4,
  .pict4section4 {
    margin-right: 10px;
  }

  .text1section5 {
    font-size: 5.9rem;
    margin: 5rem 0;
  }

  .text2section5 {
    font-size: 0.99rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    order: 2;
  }

  .pict1section5 {
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
    order: 1;
  }

  .pict2section5 {
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    margin-left: 10px;
    order: 3;
  }

  .flex2section5 {
    flex-direction: row;
    margin-top: 0.5rem;
  }

  .blocktextsection5 {
    order: 3;
    width: calc((100% - 20px) / 3);
    align-self: flex-end;
  }

  .text3section5 {
    font-size: 1.8rem;
  }

  .text4section5 {
    font-size: 0.88rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .pict3section5 {
    margin-bottom: 0rem;
    margin-right: 10px;
    width: calc((100% - 20px) / 3);
  }
  .pict4section5 {
    margin-right: 10px;
    width: calc((100% - 20px) / 3);
  }

  .text1section6 {
    font-size: 2.5rem;
    margin: 5rem 0;
  }

  .flex1section6,
  .flex2section6 {
    margin-bottom: 0.5rem;
  }

  .flex1section6 img,
  .flex2section6 img {
    width: unset;
  }

  .flex3section6 img {
    width: calc((100% - 30px) / 4);
  }
  .flex1section6 img:first-child {
    width: 34.5%;
    height: 75%;
    align-self: flex-start;
  }

  .flex1section6 img:nth-child(2),
  .flex2section6 img:first-child {
    width: 49.5%;
  }

  .flex1section6 img:last-child {
    width: 14.5%;
    height: 25%;
    align-self: flex-end;
  }

  .flex2section6 img:nth-child(2) {
    width: 24.5%;
    align-self: flex-start;
  }

  .flex2section6 img:last-child {
    width: 24.5%;
    align-self: flex-end;
  }

  .flex3section6 img:first-child,
  .flex3section6 img:nth-child(3) {
    width: 20.25%;
    align-self: flex-start;
  }

  .flex3section6 img:nth-child(2) {
    width: 20.25%;
    align-self: flex-end;
  }

  .flex3section6 img:last-child {
    width: 37%;
  }
  .pict1section6,
  .pict2section6,
  .pict4section6,
  .pict5section6,
  .pict7section6,
  .pict8section6,
  .pict9section6 {
    margin-right: 10px;
  }

  .pict2section6,
  .pict3section6,
  .pict4section6,
  .pict5section6,
  .pict6section6,
  .pict7section6,
  .pict8section6,
  .pict9section6,
  .pict10section6 {
    margin-top: 0rem;
  }

  .flexsection7 {
    margin: 5rem 0;
  }

  .inline1section7 h1,
  .inline2section7 h1,
  .inline3section7 h1 {
    font-size: 4.3rem;
    margin-left: 0rem;
  }

  .pict1section7,
  .pict2section7,
  .pict3section7 {
    display: inline;
    height: 3.6rem;
  }

  .visit-button-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .visit-button {
    padding: 0.75rem 0.75rem;
    font-size: 1.8rem;
  }

  #section8 {
    height: 75vh;
  }

  .flex1footer a {
    font-size: 1.5rem;
  }

  .flex2footer a:not(:first-child),
  .flex3footer a:not(:first-child) {
    margin-top: 0.3rem;
  }

  .flex4footer p,
  .footer-sc-text,
  .flex3footer a,
  .flex2footer a,
  .flex1footer p {
    font-size: 1rem;
  }

  .text2footer {
    margin-top: 0.7rem;
  }

  .footer-sc-number {
    left: 150px;
  }
  .footer-sc-circle {
    right: -128px;
    height: 1rem;
  }

  .flexfooter2 {
    height: 85px;
  }
}
@media (min-width: 1536px) {
  .navbar-logo a {
    margin-right: 20rem;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .navbar-nav a:not(:last-child) {
    margin-bottom: 0;
    margin-right: 5rem;
  }

  .navbar-sc {
    display: flex;
    align-items: center;
    margin-left: 20rem;
  }

  .navbar-sc-number {
    top: 7px;
    right: 11px;
  }

  .navbar-sc-circle {
    right: 7px;
    top: 7px;
  }

  .navbar-min {
    display: none;
  }

  .text1section1 {
    font-size: 6.8rem;
  }

  .text2section1 {
    font-size: 1.9rem;
  }

  .textsection2 {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    margin: 5rem 0;
  }

  .text1section2 {
    font-size: 2.3rem;
    margin-right: 2rem;
  }

  .text2section2 {
    font-size: 1.8rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  .flex1section2 img {
    max-width: 100%;
  }
  .flexpict-23 {
    justify-content: unset;
    margin-left: 0px;
    flex-grow: 1;
  }
  .pict1section2 {
    margin-bottom: 0rem;
  }

  .pict1section2 {
    width: calc((100% - 20px) / 2);
  }

  .pict2section2 img,
  .pict3section2 img {
    align-self: normal;
    margin-left: 0px;
  }

  .pict3section2 {
    align-self: flex-end;
    margin-left: 0px;
  }

  .pict2section2,
  .pict3section2 {
    width: calc((100% - 20px) / 2);
    height: 50%;
    margin-left: 10px;
  }

  .text1section4 {
    font-size: 2.85rem;
    margin: 5rem 0;
  }

  .flex1section4,
  .flex1section2,
  .flex2section4,
  .flex1section5,
  .flex1section6,
  .flex2section6,
  .flex3section6 {
    flex-direction: row;
  }

  .pict1section4 {
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
  }

  .pict2section4 {
    order: 2;
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
  }

  .blocktextsection4 {
    order: 3;
    margin-top: 0rem;
    margin-bottom: 0rem;
    align-self: flex-end;
    width: calc((100% - 20px) / 3);
  }

  .text2section4 {
    font-size: 1.5rem;
    text-align: left;
  }

  .text3section4 {
    font-size: 1.05rem;
    margin-top: 0rem;
  }

  .pict3section4,
  .pict4section4,
  .pict5section4 {
    width: calc((100% - 20px) / 3);
  }
  .pict3section4,
  .pict4section4 {
    margin-right: 10px;
  }

  .text1section5 {
    font-size: 7rem;
    margin: 5rem 0;
  }

  .text2section5 {
    font-size: 1.2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    order: 2;
  }

  .pict1section5 {
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
    order: 1;
  }

  .pict2section5 {
    margin-bottom: 0rem;
    width: calc((100% - 20px) / 3);
    margin-left: 10px;
    order: 3;
  }

  .flex2section5 {
    flex-direction: row;
    margin-top: 0.5rem;
  }

  .blocktextsection5 {
    order: 3;
    width: calc((100% - 20px) / 3);
    align-self: flex-end;
  }
  .text3section5 {
    font-size: 2rem;
  }

  .text4section5 {
    font-size: 1.05rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .pict3section5 {
    margin-bottom: 0rem;
    margin-right: 10px;
    width: calc((100% - 20px) / 3);
  }
  .pict4section5 {
    margin-right: 10px;
    width: calc((100% - 20px) / 3);
  }

  .text1section6 {
    font-size: 3rem;
    margin: 5rem 0;
  }

  .flex1section6,
  .flex2section6 {
    margin-bottom: 0.5rem;
  }

  .flex1section6 img,
  .flex2section6 img {
    width: unset;
  }

  .flex3section6 img {
    width: calc((100% - 30px) / 4);
  }
  .flex1section6 img:first-child {
    width: 34.5%;
    height: 75%;
    align-self: flex-start;
  }

  .flex1section6 img:nth-child(2),
  .flex2section6 img:first-child {
    width: 49.5%;
  }

  .flex1section6 img:last-child {
    width: 14.5%;
    height: 25%;
    align-self: flex-end;
  }

  .flex2section6 img:nth-child(2) {
    width: 24.5%;
    align-self: flex-start;
  }

  .flex2section6 img:last-child {
    width: 24.5%;
    align-self: flex-end;
  }

  .flex3section6 img:first-child,
  .flex3section6 img:nth-child(3) {
    width: 20.25%;
    align-self: flex-start;
  }

  .flex3section6 img:nth-child(2) {
    width: 20.25%;
    align-self: flex-end;
  }

  .flex3section6 img:last-child {
    width: 37%;
  }
  .pict1section6,
  .pict2section6,
  .pict4section6,
  .pict5section6,
  .pict7section6,
  .pict8section6,
  .pict9section6 {
    margin-right: 10px;
  }

  .pict2section6,
  .pict3section6,
  .pict4section6,
  .pict5section6,
  .pict6section6,
  .pict7section6,
  .pict8section6,
  .pict9section6,
  .pict10section6 {
    margin-top: 0rem;
  }

  .flexsection7 {
    margin: 5rem 0;
  }

  .inline1section7 h1,
  .inline2section7 h1,
  .inline3section7 h1 {
    font-size: 5rem;
    margin-left: 0rem;
  }

  .pict1section7,
  .pict2section7,
  .pict3section7 {
    display: inline;
    height: 3.6rem;
  }

  .visit-button-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .visit-button {
    padding: 0.75rem 0.75rem;
    font-size: 1.8rem;
  }

  #section8 {
    height: 75vh;
  }

  .flex1footer a {
    font-size: 1.5rem;
  }

  .flex2footer a:not(:first-child),
  .flex3footer a:not(:first-child) {
    margin-top: 0.3rem;
  }

  .flex4footer p,
  .footer-sc-text,
  .flex3footer a,
  .flex2footer a,
  .flex1footer p {
    font-size: 1rem;
  }

  .text2footer {
    margin-top: 0.7rem;
  }

  .footer-sc-number {
    left: 150px;
  }
  .footer-sc-circle {
    right: -128px;
    height: 1rem;
  }

  .flexfooter2 {
    height: 85px;
  }
}
